

{% extends "UPONDOrthophonieBundle::layout.html.twig" %}

{% block title %}
    Gestion des exercices
{% endblock %}

{% block orthophonie_body %}
    <h3>Ajouter un nouvel exercice:</h3>
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_end(form) }}

{% endblock %}