{% block menu %}

    <div id="menu" class="col-md-3">
        {{ knp_menu_render('UPONDOrthophonieBundle:MenuBuilder:mainMenu', {'currentClass': 'active', 'template': 'UPONDOrthophonieBundle:Menu:knp_menu.html.twig'}) }}
    </div>

{% endblock %}